<form class="{{cssClass}} flexcol status-{{data.status}}" style="flex-basis: auto;flex-grow:0;" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="agent-header">
        {{!-- Header stuff goes here --}}
        <div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        </div>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" spellcheck="false"/></h1>
            <h2>{{data.playbook}}</h2>
            <p><button class="simple-roll" data-action="fortune"><i class='fas fa-dice'></i> Fortune Roll</button></p>
        </div>
        <div class="stress-track">
            <h2>Reputation</h2>
            <p style="text-align: center;">{{#inList data.reputation reputationsA}}{{/inList}}</p>
            <p style="text-align: center;">{{#inList data.reputation reputationsB}}{{/inList}}</p>
        </div>
    </header>
    
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="mission">Mission</a>
        <a class="item" data-tab="bio">Biography</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Tab content goes here --}}
        <section class="tab crew" data-group="primary" data-tab="mission">
            <p>The Quartermaster purchases upgrades with Supply.</p>
            <div class="upgrades">
                <div class="section" style="grid-column:1/3;">
                    <h3>HQ Upgrades</h3>
                    <p>Each upgrade improves your crew headquarters in some fashion.</p>
                    <p><label><input type="checkbox" name="system.hq.aircraft1" {{checked system.hq.aircraft1}} /> Aircraft 1</label></p>
                    <p><label><input type="checkbox" name="system.hq.aircraft2" {{checked system.hq.aircraft2}} /> Aircraft 2</label></p>
                    <p><label><input type="checkbox" name="system.hq.hidden" {{checked system.hq.hidden}} /> Hidden</label></p>
                    <p><label><input type="checkbox" name="system.hq.quarters" {{checked system.hq.quarters}} /> Quarters</label></p>
                    <p><label><input type="checkbox" name="system.hq.safehouse1" {{checked system.hq.safehouse1}} /> Safehouse 1</label></p>
                    <p><label><input type="checkbox" name="system.hq.safehouse2" {{checked system.hq.safehouse2}} /> Safehouse 2</label></p>
                    <p><label><input type="checkbox" name="system.hq.vault1" {{checked system.hq.vault1}} /> Vault 1</label></p>
                    <p><label><input type="checkbox" name="system.hq.vault2" {{checked system.hq.vault2}} /> Vault 2</label></p>
                    <p><label><input type="checkbox" name="system.hq.workshop" {{checked system.hq.workshop}} /> Workshop</label></p>
                </div>
                <div class="section" style="grid-column: 3/5;">
                    <h3>Quality Upgrades</h3>
                    <p>Fine quality items are measurably better than their standard counterparts.</p>
                    <p><label><input type="checkbox" name="system.quality.documents" {{checked system.quality.documents}} /> Documents</label></p>
                    <p><label><input type="checkbox" name="system.quality.gadgets" {{checked system.quality.gadgets}} /> Gadgets</label></p>
                    <p><label><input type="checkbox" name="system.quality.gear" {{checked system.quality.gear}} /> Gear</label></p>
                    <p><label><input type="checkbox" name="system.quality.supplies" {{checked system.quality.supplies}} /> Supplies</label></p>
                    <p><label><input type="checkbox" name="system.quality.tools" {{checked system.quality.tools}} /> Tools</label></p>
                    <p><label><input type="checkbox" name="system.quality.weapons" {{checked system.quality.weapons}} /> Weapons</label></p>
                </div>
                <div class="section" style="grid-column: 5/7;">
                    <h3>Crew Upgrades</h3>
                    <p>(TODO)</p>
                    <h3>Training Upgrades</h3>
                    <p>You earn 2 xp (instead of 1) when you train during downtime.</p>
                    <p><label><input type="checkbox" name="system.training.insight" {{checked system.training.insight}} /> Insight</label></p>
                    <p><label><input type="checkbox" name="system.training.prowess" {{checked system.training.prowess}} /> Prowess</label></p>
                    <p><label><input type="checkbox" name="system.training.resolve" {{checked system.training.resolve}} /> Resolve</label></p>
                    <p><label><input type="checkbox" name="system.training.playbook" {{checked system.training.playbook}} /> Playbook</label></p>
                </div>



<div class="agent-powers section" style="grid-column: 1/7;">
    <h3 style="position:relative;margin-top:0.5em;margin-bottom:0.5em;">Special Abilities <span style="position:absolute;right:0;text-align:right;">XP: <span class="xp xp-track" title="Playbook XP">
            {{#track 8}}
                <input type="radio" name="system.xp.playbook.value" value="{{@index}}" {{checked2 system.xp.playbook.value @index}}/>
            {{/track}}
            </span>
        </span>
    </h3>
    <p style="text-align: right;margin-bottom: 1em;font-weight: bold;"><label class="xp-clear"><input type="radio" name="data.xp.playbook.value" value="0" {{checked2 data.xp.playbook.value 0}} />Clear XP</label></p>
    <ul>
        {{#each abilities as |ability id|}}
        <li>
            <span data-ability="{{ability._id}}"><i class="{{#if ability.system.chosen}}fas{{else}}far{{/if}} fa-square"></i> <strong>{{ability.name}}</strong></span> &mdash; {{{ability.system.description}}}</li>
        {{/each}}
</ul>
<p style="margin-top:0;"><i>{{data.xp_trigger}}</i></p>
</div>
            </div>
        </section>
        
    <section class="tab" data-group="primary" data-tab="bio">
        <div>
        {{editor descMarkup target="system.description" button=true owner=true editable=true}}
        </div>
    </section>
    </section>
</form>
