<form class="{{cssClass}} flexcol" style="flex-basis: auto;flex-grow:0;" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="agent-header">
        <h1 style="text-transform:capitalize;">{{data.role}}</h1>
    </header>
    {{#if crew}}
        <h3>Crew: <a class="entity-link content-link" data-type="Actor" data-entity="Actor" data-id="{{crew.id}}">{{crew.name}}</a></h3>
    {{/if}}

    {{#if data.role}}
    <section>
        {{#if (eq data.role "director")}}
        <div class="section">
        <h3>Intel</h3>
            <p>You can store up to 4 intel between missions (any extra must be spent immediately).The first vault upgrade allows you to store 8 intel; the second vault upgrade allows you to store up to 16 intel.</p>
            <p><b>Intel:</b>
                <span class="xp ib stress">
                {{#track data.resources.intel.max}}
                    <input type="radio" name="data.resources.intel.value" value="{{@index}}" {{checked2 data.resources.intel.value @index}}/>
                {{/track}}
                </span>
            </p>
            <p>
                <label class="xp-clear ib"><input type="radio" name="data.resources.intel.value" value="0" {{checked2 data.resources.intel.value 0}}/>Clear Intel</label>
            </p>
        </div>
        <div class="section">
            <h3>Heat</h3>
            <p>Heat indicates how much attention your activities are attracting. If the track fills up, increase threat by one then clear the heat track.</p>
            <p><b>Heat:</b>
                <span class="xp ib stress">
                {{#track data.resources.heat.max}}
                    <input type="radio" name="data.resources.heat.value" value="{{@index}}" {{checked2 data.resources.heat.value @index}}/>
                {{/track}}
                </span>
            </p>
            <p>
                <label class="xp-clear ib"><input type="radio" name="data.resources.heat.value" value="0" {{checked2 data.resources.heat.value 0}}/>Clear Heat</label>
            </p>
            <h4>Threat</h4>
            <p>As the threat level increases, the more dangerous and desperate the conspiracy becomes. If the threat level ever reaches 5, the crew is destroyed by the full might of the conspiracy.</p>
            <p><strong>Threat:</strong> 
                <span class="xp ib stress">
                {{#track data.resources.threat.max}}
                    <input type="radio" name="data.resources.threat.value" value="{{@index}}" {{checked2 data.resources.threat.value @index}}/>
                {{/track}}
                </span>
            </p>
        </div>
        <div class="section">
            <h3>Mission Types</h3>
            <ul style="display:flex;margin:0;list-style-type: none;" class="info-cards">
                <li><h4>RECON</h4><p>Recon missions are focused on gathering clues, and primarily award <strong>INTEL</strong>.</p>
                    <p><em>Examples: gain access to a site by posing as workers, break into someone’s office and go through their desk, attend a high society party.</em></p></li>
                <li><h4>ASSAULT</h4><p>Assault missions are about eliminating conspiracy resources, and mostly award <strong>XP</strong>.</p>
                    <p><em>Examples: destroy a death ray, assassinate one of their top agents, sabotage a key ritual.</em></p></li>
                <li><h4>SUPPLY</h4><p>Supply missions are about gathering funds or resources, and primarily award <strong>SUPPLY</strong>.</p>
                    <p><em>Examples: persuade an arms runner to help your cause, steal a rare book from a library, get a dose of super-soldier serum.</em></p></li>
                <li><h4>DEFENSE</h4><p>Defense missions are focused on protecting or rescuing something the conspiracy wants to destroy.</p>
                    <p><em>Examples: find a journalist before she is killed by the conspiracy, escort a key witness to a trial, guard an occult artifact.</em></p></li>
            </ul>
        </div>
        {{/if}}
        {{#if (eq data.role "qm")}}
        <div class="section">
            <h3>Supply</h3>
            <p>You can keep up to 6 supply on hand.Use it to upgrade the crew, replenish squads, and obtain assets.</p>
            <p><b>Supply:</b>
                <span class="xp ib stress">
                {{#track 6}}
                    <input type="radio" name="data.resources.supply.value" value="{{@index}}" {{checked2 data.resources.supply.value @index}}/>
                {{/track}}
                </span>
            </p>
            <p>
                <label class="xp-clear ib"><input type="radio" name="data.resources.supply.value" value="0" {{checked2 data.resources.supply.value 0}}/>Clear Supply</label>
            </p>
        </div>
        <div class="section">
            <h3>Headquarters</h3>
            <p>For now, use the crew sheet to track your upgrades.</p>
        </div>
        <div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
        {{#if (eq data.role "counter-intel")}}
        <div class="section">
            <h3>Manage Counter-Agents</h3>
            <p>You begin with two counter-agents and can only have two at a time working for you until you upgrade your network.</p>
        </div>
        <div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
        {{#if (eq data.role "analyst")}}
        <div class="section">
            <h3>After-Action Reports</h3>
<p>An after-action report is a record of the mission. It can simply be a list with the names of the agents, the location, the objective, and the outcome. Alternatively, you can add commentary and in-character footnotes for a more complete or entertaining read. It is frequently helpful to record clues, people connected to the conspiracy, and the strengths or weaknesses of the enemy. Feel free to add in-character notes as you desire.</p>

<p>At the start of the session, if anyone requests, do a brief summary of what happened in the previous game. The GM may also consult with you to help them recall details about conspiracy plans or actions.</p>

<p>In a digital game where the GM organizes handouts about people or places, you should keep track of people or places that do not have a corresponding handout (often, these will have been improvised in response to crew actions) so you can request the creation of a handout if they become important.</p>
        </div>
        <div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
        {{#if (eq data.role "personnel")}}
        <div class="section personnel">
            <p>During the mission briefing, assign agents to the primary and secondary missions, and assemble the engagement dice.</p>
            <p>During the debrief, ensure everyone gets their XP.</p>
            <table>
                <caption>Field Agents</caption>
            <tr>
                <th>Agent</th>
                <th>Stress</th>
                <th>Skills</th>
                <th>Harm</th>
                <th>Status</th>
            </tr>
            {{#each agents}}
            <tr data-agent="{{this.id}}">
            <td><a class="entity-link content-link" data-type="Actor" data-entity="Actor" data-id="{{this.id}}">{{this.name}}</a> ({{this.playbook}})
            </td>
            <td style="text-align: center;">{{this.stress}}/8</td>
            <td>{{this.skills}}</td>
            <td style="text-align: center;">
                {{#if (eq this.harm 0)}}
                <i class="fas fa-check" style="color: green"></i>
                {{/if}}
                {{#if (eq this.harm 1)}}
                <i class="fas fa-band-aid" style="color: peru"></i>
                {{/if}}
                {{#if (eq this.harm 2)}}
                <i class="fas fa-heartbeat" style="color: darkred"></i>
                {{/if}}
                {{#if (eq this.harm 3)}}
                <i class="fas fa-ambulance" style="color: darkred"></i>
                {{/if}}
                {{this.harm}}
            </td>
            <td>
                <div class="button-group agent-status">
                <button {{#if (eq this.status "available")}}class="active"{{/if}} value="available">Available</button>
                <button {{#if (eq this.status "primary")}}class="active"{{/if}} value="primary">Primary</button>
                <button {{#if (eq this.status "secondary")}}class="active"{{/if}} value="secondary">Secondary</button>
                <button {{#if (eq this.status "missing")}}class="active"{{/if}} value="missing">Missing</button>
                <button {{#if (eq this.status "dead")}}class="active"{{/if}} value="dead">Dead</button>
                </div>
            </td>
            </tr>
            {{/each}}
            </table>
        </div>
        <div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
    </section>
    {{else}}
    <section>
        <h2>Create the role:</h2>
        <button class="select-role" data-role="director">Director</button>
        <button class="select-role" data-role="personnel">Personnel</button>
        <button class="select-role" data-role="qm">Quartermaster</button>
        <button class="select-role" data-role="counter-intel">Counter-Intel</button>
        <button class="select-role" data-role="analyst">Analyst</button>
    </section>
    {{/if}}
</form>