<form class="{{cssClass}} flexcol" style="flex-basis: auto;flex-grow:0;" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="agent-header">
        <h1 style="text-transform:capitalize;">{{data.role}}</h1>
    </header>
    {{#if crew}}
        <h3>Crew: <a class="entity-link content-link" data-uuid="Actor.{{crew.id}}" data-type="Actor" data-entity="Actor" data-id="{{crew.id}}">{{crew.name}}</a></h3>
    {{/if}}

    {{#if data.role}}
    <section>
        {{#if (eq system.role "director")}}
        <div class="section">
        <h3>Intel</h3>
            <p>You can store up to 4 intel between missions (any extra must be spent immediately).The first vault upgrade allows you to store 8 intel; the second vault upgrade allows you to store up to 16 intel.</p>
            <p><b>Intel:</b>
                <span class="xp ib stress">
                {{#track system.resources.intel.max}}
                    <input type="radio" name="system.resources.intel.value" value="{{@index}}" {{checked2 system.resources.intel.value @index}}/>
                {{/track}}
                </span>
            </p>
            <p>
                <label class="xp-clear ib"><input type="radio" name="system.resources.intel.value" value="0" {{checked2 system.resources.intel.value 0}}/>Clear Intel</label>
            </p>
        </div>
        <div class="section">
            <h3>Heat</h3>
            <p>Heat indicates how much attention your activities are attracting. If the track fills up, increase threat by one then clear the heat track.</p>
            <p><b>Heat:</b>
                <span class="xp ib stress">
                {{#track system.resources.heat.max}}
                    <input type="radio" name="system.resources.heat.value" value="{{@index}}" {{checked2 system.resources.heat.value @index}}/>
                {{/track}}
                </span>
            </p>
            <p>
                <label class="xp-clear ib"><input type="radio" name="system.resources.heat.value" value="0" {{checked2 system.resources.heat.value 0}}/>Clear Heat</label>
            </p>
            <h4>Threat</h4>
            <p>As the threat level increases, the more dangerous and desperate the conspiracy becomes. If the threat level ever reaches 5, the crew is destroyed by the full might of the conspiracy.</p>
            <p><strong>Threat:</strong> 
                <span class="xp ib stress">
                {{#track system.resources.threat.max}}
                    <input type="radio" name="system.resources.threat.value" value="{{@index}}" {{checked2 system.resources.threat.value @index}}/>
                {{/track}}
                </span>
                <input style="display: none;" type="radio" name="system.resources.threat.value" value="0" {{checked2 system.resources.threat.value 0}}/>
            </p>
        </div>
        <div class="section">
            <h3>Mission Types</h3>
            <ul class="info-cards">
                <li><h4>RECON</h4><p>Recon missions are focused on gathering clues, and primarily award <strong>INTEL</strong>.</p>
                    <p><em>Examples: gain access to a site by posing as workers, break into someone’s office and go through their desk, attend a high society party.</em></p></li>
                <li><h4>ASSAULT</h4><p>Assault missions are about eliminating conspiracy resources, and mostly award <strong>XP</strong>.</p>
                    <p><em>Examples: destroy a death ray, assassinate one of their top agents, sabotage a key ritual.</em></p></li>
                <li><h4>SUPPLY</h4><p>Supply missions are about gathering funds or resources, and primarily award <strong>SUPPLY</strong>.</p>
                    <p><em>Examples: persuade an arms runner to help your cause, steal a rare book from a library, get a dose of super-soldier serum.</em></p></li>
                <li><h4>DEFENSE</h4><p>Defense missions are focused on protecting or rescuing something the conspiracy wants to destroy.</p>
                    <p><em>Examples: find a journalist before she is killed by the conspiracy, escort a key witness to a trial, guard an occult artifact.</em></p></li>
            </ul>
        </div>
        {{/if}}
        {{#if (eq system.role "qm")}}
        <div class="section">
            <h3>Supply</h3>
            <p>You can keep up to 6 supply on hand.Use it to upgrade the crew, replenish squads, and obtain assets.</p>
            <p><b>Supply:</b>
                <span class="xp ib stress">
                {{#track 6}}
                    <input type="radio" name="system.resources.supply.value" value="{{@index}}" {{checked2 system.resources.supply.value @index}}/>
                {{/track}}
                </span>
            </p>
            <p>
                <label class="xp-clear ib"><input type="radio" name="system.resources.supply.value" value="0" {{checked2 system.resources.supply.value 0}}/>Clear Supply</label>
            </p>
        </div>
        <div class="section">
            <h3>Downtime Activities</h3>
            <p>After a mission, choose two downtime activities. These benefit the whole crew. Agents that are not assigned to an activity by you can choose to pursue an activity for their personal benefit.</p>
            <ul class="info-cards">
                <li><h4>Recruit</h4><p>Spend one supply to gain up to five recruits that Personnel can distribute among their squads. Spend two supply to add a whole new squad.</p>
                    <p><em>The crew is limited to six squads.</em></p></li>
                <li><h4>Acquire Asset</h4><p>Assign an agent to hire, borrow, or steal an asset your crew requires for an upcoming mission. The roll will determine the quality of the asset obtained.</p>
                    <p><em>This might mean hiring outside expertise, obtaining black-market goods, or gaining legitimate access to classified information.</em></p></li>
                <li><h4>Upgrade</h4><p>Assign an agent and spend supply to purchase a single upgrade or ability on the crew sheet.</p>
                    <p><a class="entity-link content-link" data-uuid="Actor.{{crew.id}}" data-type="Actor" data-entity="Actor" data-id="{{crew.id}}">{{crew.name}}</a></p></li>
                <li><h4>Long-Term Project</h4><p>Assign an agent to lead the project. They will roll an action to advance the project clock.</p>
                    <p><em>Mark segments on the clock according to your result.</em></p> </li>
            </ul>
        </div>
        <div class="section projects">
            <h3>Long-Term Projects</h3>
            <p><strong>Critical:</strong> Five ticks.  <strong>6:</strong> Three ticks.  <strong>4/5:</strong> Two ticks.  <strong>1-3:</strong> One tick.</p>
            {{#each projects}}
            <div class="project-card">
                <div class="clock" data-id="{{this.id}}">
                    <input type="hidden" name="{{this.id}}-progress" value="0" {{checked2 this.progress 0}} />
                    <input type="hidden" class="size" value="{{this.size}}" />
                    {{#track this.size}}
                        <input type="radio" name="{{this.id}}-progress" value="{{@index}}" {{checked2 this.progress @index}}/>
                    {{/track}}
                </div>
                <p>{{this.name}}</p>
                <a class="remove-project" data-project="{{this.id}}" title="Remove project"><i class="fas fa-trash"></i></a>
            </div>
            {{/each}}
            <div class="create-project">
                <select>
                    <option value="8" selected="selected">8 segments</option>
                    <option value="6">6 segments</option>
                    <option value="4">4 segments</option>
                </select>
                <input type="text" placeholder="project name" />
                <button type="button" class="add-proj"><i class="fas fa-plus"></i>Add Project</button>
            </div>
        </div>
        <div>
        {{editor descMarkup target="system.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
        {{#if (eq system.role "counter-intel")}}
        <div class="section">
            <h3>Manage Counter-Agents</h3>
            <p>You begin with two counter-agents and can only have two at a time working for you until you upgrade your network.</p>
        </div>
        <div>
        {{editor descMarkup target="system.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
        {{#if (eq system.role "analyst")}}
        <div class="section">
            <h3>After-Action Reports</h3>
            <p>An after-action report is a record of the mission. It can simply be a list with the names of the agents, the
                location, the objective, and the outcome. Alternatively, you can add commentary and in-character footnotes for a
                more complete or entertaining read. It is frequently helpful to record clues, people connected to the conspiracy,
                and the strengths or weaknesses of the enemy. Feel free to add in-character notes as you desire.</p>
            <p>At the start of the session, if anyone requests, do a brief summary of what happened in the previous game. The GM may
                also consult with you to help them recall details about conspiracy plans or actions.</p>
            <p>You should keep track of people or places
                that do not have a corresponding handout (often, these will have been improvised in response to crew actions) so you
                can request the creation of a handout if they become important.</p>
        </div>
        <div>
        {{editor descMarkup target="system.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
        {{#if (eq system.role "personnel")}}
        <div class="section personnel">
            <p>During the mission briefing, assign agents to the primary and secondary missions, and assemble the engagement dice.</p>
            <p>During the debrief, ensure everyone gets their XP.</p>
            <table>
                <caption>Field Agents</caption>
            <tr>
                <th>Agent</th>
                <th>Stress</th>
                <th>Skills</th>
                <th>Harm</th>
                <th>Status</th>
            </tr>
            {{#each agents}}
            <tr data-agent="{{this.id}}">
            <td><a class="entity-link content-link" data-uuid="Actor.{{this.id}}" data-type="Actor" data-entity="Actor" data-id="{{this.id}}">{{this.name}}</a> ({{this.playbook}})
            </td>
            <td style="text-align: center;">{{this.stress}}/8</td>
            <td>{{this.skills}}</td>
            <td style="text-align: center;">
                {{#if (eq this.harm 0)}}
                <i class="fas fa-check" style="color: green"></i>
                {{/if}}
                {{#if (eq this.harm 1)}}
                <i class="fas fa-band-aid" style="color: peru"></i>
                {{/if}}
                {{#if (eq this.harm 2)}}
                <i class="fas fa-heartbeat" style="color: darkred"></i>
                {{/if}}
                {{#if (eq this.harm 3)}}
                <i class="fas fa-ambulance" style="color: darkred"></i>
                {{/if}}
                {{this.harm}}
            </td>
            <td>
                <div class="button-group agent-status" role="group" aria-label="Agent status">
                <button {{#if (eq this.status "available")}}class="active"{{/if}} value="available">Available</button>
                <button {{#if (eq this.status "primary")}}class="active"{{/if}} value="primary">Primary</button>
                <button {{#if (eq this.status "secondary")}}class="active"{{/if}} value="secondary">Secondary</button>
                <button {{#if (eq this.status "missing")}}class="active"{{/if}} value="missing">Missing</button>
                <button {{#if (eq this.status "dead")}}class="active"{{/if}} value="dead"><i class="fas fa-skull"></i>Dead</button>
                </div>
            </td>
            </tr>
            {{/each}}
            </table>
            <table>
                <caption>Squads</caption>
            <tr>
                <th>Squad</th>
                <th>Stress</th>
                <th>Attributes</th>
                <th>Rookies</th>
                <th>Status</th>
            </tr>
            {{#each squads}}
            <tr data-agent="{{this.id}}">
            <td><a class="entity-link content-link" data-uuid="Actor.{{this.id}}" data-type="Actor" data-entity="Actor" data-id="{{this.id}}">{{this.name}}</a> ({{this.playbook}})
            </td>
            <td style="text-align: center;">{{this.stress}}/6</td>
            <td>{{this.skills}}</td>
            <td style="text-align: center;">
                {{this.rookies}}/6
            </td>
            <td>
                <div class="button-group agent-status" role="group" aria-label="Agent status">
                <button {{#if (eq this.status "available")}}class="active"{{/if}} value="available">Available</button>
                <button {{#if (eq this.status "primary")}}class="active"{{/if}} value="primary">Primary</button>
                <button {{#if (eq this.status "secondary")}}class="active"{{/if}} value="secondary">Secondary</button>
                <button {{#if (eq this.status "missing")}}class="active"{{/if}} value="missing">Missing</button>
                <button {{#if (eq this.status "dead")}}class="active"{{/if}} value="dead">Destroyed</button>
                </div>
            </td>
            </tr>
            {{/each}}
            </table>
        </div>
        <div>
        {{editor descMarkup target="system.description" button=true owner=true editable=true}}
        </div>
        {{/if}}
    </section>
    {{else}}
    <section>
        <h2>Create the role:</h2>
        <button class="select-role" data-role="director">Director</button>
        <button class="select-role" data-role="personnel">Personnel</button>
        <button class="select-role" data-role="qm">Quartermaster</button>
        <button class="select-role" data-role="counter-intel">Counter-Intel</button>
        <button class="select-role" data-role="analyst">Analyst</button>
    </section>
    {{/if}}
</form>