<form class="{{cssClass}} flexcol status-{{data.status}}" style="flex-basis: auto;flex-grow:0;" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="agent-header">
        {{!-- Header stuff goes here --}}
        <div>
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <p class="profile-status">{{#unless data.status}}Available{{/unless}}{{data.status}}</p>
        </div>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" spellcheck="false"/></h1>
            <h2>{{#if data.elite}}Elite {{/if}}{{data.playbook}}</h2>
            <p><label>Species:</label> <input name="data.heritage" type="text" value="{{data.heritage}}" placeholder="Human" style="width:auto;" /></p>
            <p><button class="simple-roll" data-action="fortune"><i class='fas fa-dice'></i> Fortune Roll</button></p>
        </div>
        <div class="stress-track">
            <div style="text-align: end;">
            <strong>Stress: </strong>
            <span class="xp xp-track" title="Stress">
                {{#track data.stress.max}}
                    <input type="radio" name="data.stress.value" value="{{@index}}" {{checked2 data.stress.value @index}}/>
                {{/track}}
            </span>
            </div>
            <p><label class="xp-clear"><input type="radio" name="data.stress.value" value="0" {{checked2 data.stress.value 0}} />Clear Stress</label></p>
            <h2>Edges &amp; Flaws</h2>
            <p style="text-align: center;">{{#inList data.conditions edges}}{{/inList}}</p>
            <p style="text-align: center;">{{#inList data.conditions flaws}}{{/inList}}</p>
        </div>
    </header>
    {{#if data.playbook}}
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="mission">Rookies</a>
        <a class="item" data-tab="downtime">Downtime</a>
        <a class="item" data-tab="bio">Biography</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Tab content goes here --}}
        <section class="tab personnel" data-group="primary" data-tab="mission">
            <h2 class="emph">Actions</h2>
            <p>Squads typically specialize in one or two actions; use the ""Other" action for anything else.</p>
            <div class="button-group" style="width:50%">
            {{#each data.actions as |action ac|}}
                {{#if (gt action.value 0)}}
                    <button class="action-roll" data-action="{{ac}}" style="text-transform: capitalize;">{{ac}}</button>
                {{/if}}
            {{/each}}
                <button class="action-roll" data-action="other">Other</button>
            </div>
            <table>
                <caption>Rookies</caption>
                <colgroup>
                    <col span="1" />
                    <col span="1" />
                    <col span="1" />
                    <col span="1" style="width: 25%;" />
                </colgroup>
            <tr>
                <th>Rookie</th>
                <th>XP</th>
                <th>Harm</th>
                <th>Options</th>
            </tr>
            {{#each data.rookies}}
            <tr data-agent="{{@index}}">
            <td>{{this.name}}</td>
            <td style="text-align: center;">{{this.xp.value}}/{{this.xp.max}}</td>
            <td style="text-align: center;">
                {{#if (eq this.harm.value 0)}}
                <i class="fas fa-check" style="color: green"></i>
                {{/if}}
                {{#if (eq this.harm.value 1)}}
                <i class="fas fa-band-aid" style="color: peru"></i>
                {{/if}}
                {{#if (eq this.harm.value 2)}}
                <i class="fas fa-heartbeat" style="color: darkred"></i>
                {{/if}}
                {{#if (eq this.harm.value 3)}}
                <i class="fas fa-ambulance" style="color: darkred"></i>
                {{/if}}
                {{this.harm.value}}/{{this.harm.max}}
            </td>
            <td>
                <div class="button-group" role="group" aria-label="Rookie status">
                <button class="promote-rookie" value="promote"><i class="fas fa-medal"></i>Promote</button>
                <button class="kill-rookie" value="dead"><i class="fas fa-skull"></i>Remove</button>
                </div>
            </td>
            </tr>
            {{/each}}
            </table>
        </section>
        <section class="tab" data-group="primary" data-tab="downtime">
            
        <div class="prose">
            <h2>Mission Rewards</h2>
            <p>After the mission, mark as directed:</p>
                <div class="button-group" role="group" aria-label="Mark squad rewards" style="width:50%;">
            <button class="add-xp"><i class="fa-plus fas"></i> Add XP</button>
            <button class="add-harm"><i class="fas fa-heartbeat" style="color: darkred"></i> Add Harm</button>
                </div>
            <h3>Primary Mission</h4>
            <p>If the squad was on the primary mission, rookies mark xp as follows:</p>
            <ul>
                <li>You struggled with issues from your stress, edges, or flaws.</li>
                <li>You provided emotional support for a crew member.</li>
            </ul>
            <h3>Secondary Mission</h3>
            <p>If the squad survived the secondary mission, all members mark 2 xp.</p>
            <p>You may also need to mark harm, stress, or remove a rookie.</p>
            <h3>Skipped Mission</h3>
            <p>Squads who skipped the mission get to take R &amp; R (rest and relaxation).</p>
            <button class="r-and-r" style="width: 50%;">R &amp; R</button>
            <p>This marks a healing tick and clears up to 2 stress.</p>
        </div>
    </section>
    <section class="tab" data-group="primary" data-tab="bio">
        <div>
        {{editor content=data.description target="data.description" button=true owner=true editable=true}}
        </div>
    </section>
    {{else}}
    <section>
        <h2>SELECT SQUAD TYPE</h2>
        {{#each playbooks as |item id|}}
        <button class='select-playbook' data-playbook="{{item.name}}"><img src="{{item.img}}" style= "width: 2em; height: 2em;margin-right: 0.5em;"/> {{item.name}}</button>
        {{/each}}
    </section>
    {{/if}}
    </section>
</form>
