<div class="dice-tooltip">
  {{#if action}}<div class="chat-label label-stripe-chat">{{action}}</div>{{/if}}
  <div class="die {{roll_status}}">{{roll_status}}</div>
  <ol class="dice-rolls">
    {{#each this.rolls}}
    {{#if this.result}}
    <li class="roll die bobd6"{{#if (eq this.result 6)}} style="color: var(--holoblue);"{{/if}}{{#if (lteq this.result 3)}} style="color: red;"{{/if}}{{#if (eq this.result 4)}} style="color: var(--almost_white);"{{/if}}{{#if (eq this.result 5)}} style="color: var(--almost_white);"{{/if}}>{{{this.result}}}</li>
    {{else}}
    <li class="roll die bobd6"{{#if (eq this.roll 6)}} style="color: var(--holoblue);"{{/if}}{{#if (lteq this.roll 3)}} style="color: red;"{{/if}}{{#if (eq this.roll 4)}} style="color: var(--almost_white);"{{/if}}{{#if (eq this.roll 5)}} style="color: var(--almost_white);"{{/if}}>{{{this.roll}}}</li>
    {{/if}}
    {{/each}}
  </ol>
</div>

