<div class="dice-tooltip">
  {{#if action}}<div class="chat-label label-stripe-chat">{{action}}</div>{{/if}}
  {{#if position}}
    <div class="chat-label-small label-stripe-chat-small">
      {{position}} | {{effect}}
    </div>
  {{/if}}
  {{#if zeromode}}
    <div class="chat-label-small-red label-stripe-chat-small-red">
     Rolled zero dice, taking lowest 
    </div>
  {{/if}}
  <div class="die {{roll_status}}">{{#if resist_status}}{{resist_status}}{{else}}{{roll_status}}{{/if}}</div>

	{{#if (eq position "desperate")}}
	<p>Mark <strong>XP</strong> for a desperate action.</p>
	{{/if}}

  <ol class="dice-rolls">
    {{#each this.rolls}}
    {{#if this.result}}
    <li class="roll die bobd6"{{#if (eq this.result 6)}} style="color: var(--holoblue);"{{/if}}{{#if (lte this.result 3)}} style="color: red;"{{/if}}{{#if (eq this.result 4)}} style="color: var(--almost_white);"{{/if}}{{#if (eq this.result 5)}} style="color: var(--almost_white);"{{/if}}>{{{this.result}}}</li>
    {{else}}
    <li class="roll die bobd6"{{#if (eq this.roll 6)}} style="color: var(--holoblue);"{{/if}}{{#if (lte this.roll 3)}} style="color: red;"{{/if}}{{#if (eq this.roll 4)}} style="color: var(--almost_white);"{{/if}}{{#if (eq this.roll 5)}} style="color: var(--almost_white);"{{/if}}>{{{this.roll}}}</li>
    {{/if}}
    {{/each}}
  </ol>
</div>

