:root {
	--almost_white: #eeefff;
	--red: #ff0000;
	--holoblue: #33b5e5;
	--holobluemed: #84d2ef;
	--holobluelt: #ade1f4;
	--redmed: #ff6666;
	--redlt: #ffb2b2;
	--darkblue: #001324;
}

.table-actions input {
    appearance: none;
    margin: 0 0.5em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: thin solid #222;
}

.table-actions input:checked, .table-actions input.filled {
    background-color: #222;
}

.table-actions tbody td.table-actions__attribute {
	border-right: 2px solid #0d0e13;
}


.xp {
    display:inline-flex;
    flex-direction:row-reverse;
}
.xp input {
    appearance: none;
    margin-left: 5px;
    margin-right: 0;
    border-radius: 20%;
    width: 16px;
    height: 16px;
    border-color: #222;
}

.xp input:checked,
.xp input:checked ~ input[type=radio] {
  background-color: #222;
}
.xp-clear {
    border: 1px solid black;
    width: auto;
    padding: 0.25em 0.25em 0;
    border-radius: 3px;
    margin-bottom: none;
    font-size: 1em;
}
.xp-clear input {
    display:none;
}

.agent-powers ul, .agent-gear ul {
    list-style-type: none;
    padding-left: 0;
}

.agent-gear h4 {font-weight:bold;margin:0;}

[role="tooltip"] {
  display: none;
}

li:hover [role="tooltip"] {
    display: block;
    position: absolute;
    background-color: var(--almost_white);
    outline: thin solid black;
    padding: 0.5em;
}

.dice-tooltip .dice-rolls .roll.bobd6 {
	background-image: url('d6-black.svg');
	color: var(--almost_white);
	background-size: 24px 24px;
}
.dice-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  margin-top: 0.5em;
}
.dice-tooltip .die.critical-success {
  color: #12a012;
}
.dice-tooltip .die.success {
  color: #008000;
}
.dice-tooltip .die.partial-success {
  color: #04578f;
}
.dice-tooltip .die.failure {
  color: var(--red);
}

.label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  font-size: x-large;

  text-align: center;
  padding: 3px 5px 0;
}
