:root {
	--almost_white: #eeefff;
	--red: #ff0000;
	--holoblue: #33b5e5;
	--holobluemed: #84d2ef;
	--holobluelt: #ade1f4;
	--redmed: #ff6666;
	--redlt: #ffb2b2;
	--darkblue: #001324;
  --critgreen: #12a012;
}

.editor,
.editor-content {
  min-height: 280px;
  width: 100%;
}

.agent-header {
  display:flex;
  column-gap: 1em;
}
.agent-header h1 {border-bottom: none;}
.stress-track {
  align-self: flex-start;
  margin-left:auto;
}
.stress-track p {text-align:right;}

.profile-status {
  text-transform: uppercase;
  text-align: center;
  background-color: var(--darkblue);
  color: var(--almost_white);
}
.status-dead {
  text-decoration: line-through;
  text-decoration-color: var(--red);
  color:#666;
}
.status-missing {
  color:#666;
}
.status-missing .profile-status {
  background-color: var(--red);
  font-weight: bold;
}
.status-dead .profile-status {
  text-decoration: reset;
  background-color: var(--red);
  font-weight: bold;
}
.personnel table{
  margin-top: 1em;
}
.personnel caption{
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

div.section {
    padding: 5px;
    border-style: solid;
    border-color: #888;
    border-radius: 5px;
    border-width: 1px;
    position: relative;
}


.table-actions input {
    appearance: none;
    margin: 0 0.5em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: thin solid #222;
}

.table-actions input:checked, .table-actions input.filled {
    background-color: #222;
}

.table-actions tbody td.table-actions__attribute {
	border-right: 2px solid #0d0e13;
}

.rollable:hover, .rollable:focus {
  color: var(--red);
  cursor: pointer;
}
.action-roll:hover, .action-roll:focus {
  color: var(--red);
  cursor: pointer;
}

.xp {
    display:inline-flex;
    flex-direction:row-reverse;
}
.xp input {
    appearance: none;
    margin-left: 5px;
    margin-right: 0;
    border-radius: 20%;
    width: 16px;
    height: 16px;
    border-color: #222;
    border: thin solid #222;
}

.xp input:checked,
.xp input:checked ~ input[type=radio] {
  background-color: #222;
}
.xp-clear {
    border: 1px solid black;
    width: auto;
    padding: 0.25em 0.25em 0;
    border-radius: 3px;
    margin-bottom: none;
    font-size: 1em;
}
.xp-clear input {
    display:none;
}

.agent-powers ul, .agent-gear ul {
    list-style-type: none;
    padding-left: 0;
}

.agent-gear li:hover, .agent-powers li span:hover {
  color: var(--red);
  cursor: pointer;
}
.agent-gear h4 {font-weight:bold;margin:0;}

[role="tooltip"] {
  display: none;
}

li:hover [role="tooltip"] {
    display: block;
    position: absolute;
    background-color: var(--almost_white);
    color: black;
    outline: thin solid black;
    padding: 0.5em;
    z-index: 100;
}

.dice-tooltip .dice-rolls .roll.bobd6 {
	background-image: url('d6-black.svg');
	color: var(--almost_white);
	background-size: 24px 24px;
}
.dice-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
  margin-top: 0.5em;
}
.dice-tooltip .die.critical-success {
  color: var(--critgreen);
}
.dice-tooltip .die.success {
  color: #008000;
}
.dice-tooltip .die.partial-success {
  color: #04578f;
}
.dice-tooltip .die.failure {
  color: var(--red);
}

.label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  font-size: x-large;

  text-align: center;
  padding: 3px 5px 0;
}

.chat-label-small {
  text-transform: capitalize;
  background-color: #191813;
  color: #EEEFFF;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  font-weight: bold;
}
.chat-label-small-red {
  background-color: red;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  font-weight: bold;
}
.healing {
  position: relative;
  padding: 5px;
}
.healing .xp-clear {
  position: absolute;
  right: 5px;
  top: 2em;
  font-size: 13px;
}

.harm table {
    width:100%;margin:1em 0;text-align:center;border-collapse: collapse;
}

.harm table tr:first-child {
    border-top: 1px solid black;
}
.harm table tr {
    border-bottom: 1px solid black;height:3em;
}

.harm .num {
    width: 1.5em;background-color: #ddd;
}
.harm input {
    width: 100%;
    border: none;
}
.harm .lbl {
    width:4em;background-color: #ddd;
    font-variant: small-caps;font-size:90%;
}

.agent-skill button {
  width: auto;
}

.prose h3 {
  font-weight: bold;
  margin-top: 1.5em;
}

button[role="switch"] {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1px;
  text-align: center;
  line-height: 2em;
  border: medium solid #222;
  width: 88px;
  text-transform: capitalize;
  transition: 0.2s;
}
button[role="switch"] span {
  display:block;
  width: 40px;
  transition: 0.2s;
}
button[role="switch"][aria-checked="true"] {
  border-color: var(--critgreen);
}
button[role="switch"][aria-checked="true"] :first-child {
  background-color: var(--critgreen);
  color: #fff;
}
button[role="switch"][aria-checked="false"] :last-child {
  background-color: #222;
  color: #fff;
}
.dice-mods {
list-style: none;
margin:0;
padding:0;
border-radius: 0.5em;
border: 1px solid #ccc;
}
.dice-mods li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-top: 1px solid #ccc;
}
.dice-mods li:first-child {
  border-top: none;
}

dt{
  display: flex;
  justify-content: space-between;
}
dl .remove-skill{
  display:none;
}
dl:hover .remove-skill{
  display:block;
}

/*-- CLOCKS --*/
.clock {
    font-size:19.5px;
    width:4em;
    height:4em;
    background-color:#ddd;
    border-radius:50%;
    position: relative;
    overflow:hidden;
    border:thin solid #666;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}
.clock input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display:inline-block;
  margin: 0;
  width: 2em;
  height: 2em;
  position: absolute;
  left:2em;
  bottom:2em;
  top:auto;
  background-color: #eee;
  transform-origin:0 2em ;
  box-sizing: border-box;
  font-size:inherit;
  border: 1px solid #ccc;
  cursor: pointer;
}
.clock input:checked,
.clock input:checked ~ input[type=radio] {
  background-color: #222;
}

.clock .size[value="4"] ~ input[type=radio][value="8"]
{ display:none; }
.clock .size[value="4"] ~ input[type=radio][value="7"]
{ display:none; }
.clock .size[value="4"] ~ input[type=radio][value="6"]
{ display:none; }
.clock .size[value="4"] ~ input[type=radio][value="5"]
{ display:none; }
.clock .size[value="4"] ~input[value="4"] {
    transform: rotate(-90deg);
}
.clock .size[value="4"] ~ input[value="3"] {
    transform: rotate(-180deg);
}
.clock .size[value="4"] ~ input[value="2"] {
    transform: rotate(-270deg);
}
.clock .size[value="4"] ~ input[value="1"] {
    transform: rotate(0deg);
}

.button-group {
  display: flex;
  vertical-align: middle;
}
.button-group {border-radius: 0.5em;}
.button-group .active {
  background-color: #12a012;
  color: #fff;
}